<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapp.electionapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"/>

        <activity android:name=".AboutChandniChowk"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity android:name=".PollingStation2"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity android:name=".AllPollingStation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity android:name=".HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity
            android:name=".ThirdGender"
            android:screenOrientation="portrait"
            android:label="Facilities for Third Gender" />
        <activity
            android:name=".PWD"
            android:screenOrientation="portrait"
            android:label="Facility for PwD (Divyang)" />
        <activity
            android:name=".knowCandidate"
            android:screenOrientation="portrait"
            android:label="Know Your Candidate" />
        <activity
            android:name=".PollingStation"
            android:screenOrientation="portrait"
            android:label="Know Your Polling Station" />
        <activity
            android:name=".Feedback"
            android:screenOrientation="portrait"
            android:label="Feedback" />
        <activity
            android:name=".IncludeCard"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".BoothActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>